<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>179043850905-7b8b0lblc1sof23rv748svm4u8dkdq91.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.179043850905-7b8b0lblc1sof23rv748svm4u8dkdq91</string>
	<key>API_KEY</key>
	<string>AIzaSyDJ7bM3ayCpvH6jx6IXlmCno4PRA4KLecQ</string>
	<key>GCM_SENDER_ID</key>
	<string>179043850905</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Ebrious.com.Chef</string>
	<key>PROJECT_ID</key>
	<string>foodie-5c1e8</string>
	<key>STORAGE_BUCKET</key>
	<string>foodie-5c1e8.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:179043850905:ios:420ddf214e38e1710ab608</string>
	<key>DATABASE_URL</key>
	<string>https://foodie-5c1e8.firebaseio.com</string>
</dict>
</plist>